#favi {
    width: 16px;
    height: 16px; 
   
  }
  
  #navegador{
    background-color: #97ce4c; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .enlace-nav {
    color: #FFFFFF;
    font-family: "", sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .enlace-nav:hover {
    color: #FF00FF; 
  }
  
  #navegador img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  