
#pieDePagina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: violet;
    opacity: 0.5;
    border-radius: 5px;
}
#textoFooter{
    color: black;
}