<app-navegador></app-navegador>
<app-filtrado-cartas></app-filtrado-cartas>
<div class="cartas-container cartas-grid">
  <div class="cartas-container">
    <div *ngFor="let carta of cartasAlive" class="carta">
        <img [src]="carta.image" alt="Imagen del personaje" class="image">
        <h2>{{ carta.name }}</h2>
        <p class="parrafoImagen">Estado: {{ carta.status }}</p>
        <p class="parrafoImagen">Especie: {{ carta.species }}</p>
        <p class="parrafoImagen">Género: {{ carta.gender }}</p>
        <p class="parrafoImagen">Precio: {{ carta.precio }}</p>
        <button (click)="loginOcarrito(carta)">Agregar al carrito</button>
    </div>
  </div>
</div>

