#formulario{
    background-color: rgb(36, 243, 153);
    text-align: center;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ajusta el valor del ancho según tus necesidades */
    margin: 10px auto;
    opacity: 90%;
}
.boton {
  background-color: #00FF00; /* color de fondo verde */
  color: #e02491; /* color de texto blanco */
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.boton:hover {
  background-color: #dbc6db; /* color de fondo rosa al pasar el ratón */
}
.botonIngreso {
  background-color: #97ce4c;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.botonIngreso:hover{
  background-color: #dbc6db;
}

label {
    display: block;
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 20px;
  }
