<div id="cajaFiltrado">

    <p>Filtrar por status:</p>
    <div class="contenedorFiltro"><br>
        <a href="vistaAlive" class="opcion">Alive</a><br><br><br>
        <a href="vistaDead" class="opcion">Dead</a><br><br><br>
        <a href="vistaUnk" class="opcion">unknown</a><br><br><br>
    </div>
<p>Filtrar por genero:</p>
<div class="contenedorFiltro"><br>
    <a href="vistaFemale" class="opcion">Female</a><br><br><br>
    <a href="vistaMale" class="opcion">Male</a><br><br><br>
    <a href="vistaGer" class="opcion">Genderless</a><br><br><br>
    <a href="vistaUnkGEN" class="opcion">Unknown</a><br><br><br>
</div>
</div>