#cajaFiltrado {
    position: fixed;
    left: 0%;
    top: 52%;
    transform: translate(0, -50%);
    background-color: #8e44ad;
    padding: 10px;
    border: 1px solid #27ae60;
  }
  
  .contenedorFiltro {
    margin-bottom: 10px;
  }
  
  .opcion {
    margin-bottom: 5px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #2ecc71;
  }

  #cajaFiltrado p {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
  