button {
    background-color: #00ff00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.view{ 
    background-image: url("src/app/images/pickle_rick_work.0.jpg");
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    
}

.maxView{ 
    display: grid;
    place-items: center;
    padding:5px; 
    
}
p{
    display: block;
    font-weight: bold;
    font-size: larger;
    background-color: #4c9ece;
    border-radius: 5px;
    margin: 20px; 
}
.cartasUsuario {
    text-align: center;
    background-color: green;
  }