button {
    border-radius: 20px;
    border: rgba(82, 58, 30, 0.687) 5px outset;
    margin: 5px;
    font-weight: bolder;
    width:10em;
    height:3em;
    background-color: rgba(216, 165, 102, 0.871);
    display: grid;
    place-items: center;
}