<app-nav-registro-exitoso></app-nav-registro-exitoso>
<div>
    <button (click)="eliminarUsuario()">
           Borrar Usuario 
    </button>
</div>
<div>
    <button (click)="llevarModificarUsuario()">
           Modificar perfil 
    </button>
</div>

<!-- quiero hacer estos divs pequeños, que la info no sea un cartel enorme sino un pequeño cartel -->
<div class="maxView">
    <div class="view">
    <p>Nombre de Usuario</p>
    <p>{{usuario.nombre}}</p>
    
    <p> Tu Dni</p>
    <p>{{usuario.dni}}</p>
    
    <p> Tu Email</p>
    <p>{{usuario.email}}</p>
    </div>
</div>
<div class="cartasUsuario">
    <p>Estas son las cartas del usuario</p>
</div>
<app-cartas-usuario></app-cartas-usuario>