button {
    border-radius: 20px;
    border: rgba(82, 58, 30, 0.687) 5px outset;
    margin: 5px;
    font-weight: bolder;
    width:10em;
    height:3em;
    background-color: rgba(216, 165, 102, 0.871);
    display: grid;
    place-items: center;
}
.view{ 
    background-image: url("src/app/images/pickle_rick_work.0.jpg");
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; /* Ajusta el valor del ancho según tus necesidades */
    height: 100%;/* Ajusta el valor del alto según tus necesidades */
    margin: 0 auto;
    
}

.maxView{ 
    display: grid;
    place-items: center;
    padding:5px; /*la distancia que existe entre un componente y otro*/
    
}
p{
    display: block;
    font-weight: bold;
    font-size: larger;
    background-color: #4c9ece;
    border-radius: 5px;
    margin: 20px; 
}