
#navegador{
  background-color: #97ce4c; /* color de fondo verde */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.enlace-nav {
  color: #FFFFFF; /* color de texto blanco */
  font-family: "", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px;
}

.enlace-nav:hover {
  color: #FF00FF; /* color de texto rosa al pasar el ratón */
}

#navegador img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
