#navegador{
    background-color:#97ce4c ;
    color: #44281d;
    display: flex;
  justify-content: center;
  align-items: center;
}

.enlace-nav{
    background-color:	#f0e14a;
    color:#e89ac7 ;
    margin: 10px ;
}