
<header>
    <nav id="navegador">
        <a href="#">
            <img src="/OneForAll/src/Goodstuff-No-Nonsense-Free-Space-Rick.1024.png" alt="favicon de rick y morty" id="favi">
        </a>
        <a routerLink="home" routerLinkActive="active" class="enlace-nav">Inicio</a>
        <a routerLink="vista-registro" routerLinkActive="active" class="enlace-nav">Registrarse</a>
        <a routerLink="vista-cartas"  routerLinkActive="active" class="enlace-nav">Articulos</a>
        <a routerLink="vista-carrito"  routerLinkActive="active" class="enlace-nav">Carrito</a>
    </nav>
</header>
