body {
  background-image: url("./app/images/1330376.png");
  background-size: cover;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

html, body {
  height: 100%;
}

.cartas-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; /* Ajusta el relleno para evitar que las tarjetas estén demasiado pegadas al borde de la pantalla */
  box-sizing: border-box; /* Asegura que el relleno se incluya en el tamaño total */
}

.carta {
text-align: center;
  background-color: rgb(52, 192, 52);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 20%; /* Ajusta según tus necesidades */
  box-sizing: border-box;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.parrafoImagen {
  margin: 5px 0;
}

button {
  background-color: #9a87b4;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #501a9c;
}