<div class="Dform"> </div>
    <form [formGroup]="forms" (ngSubmit)="cargarUsuario()"class="formulario">
        <br>
        <label for="nombre"> Nombre de Usuario </label>
        <input type="text" id="nombre" formControlName="nombre" required>
        <br>
        <label for="dni"> DNI </label>
        <input type="number" id="dni" formControlName="dni" required>
        <br>
        <label for="email"> E-mail </label>
        <input type="email" id="email" formControlName="email" required>
        <br>
        <label for="contraseña"> Contraseña </label>
        <input type="password" id="contraseña" formControlName="contraseña"  required>
        <br>
        <label for="contraseña2"> Repita su contraseña </label>
        <input type="password" id="contraseña2" formControlName="contraseña2" required>
        <br>
        <button > Registrarse </button>
    </form>
